<h1>Explore Activities</h1>
<button id="view-bookmarks-btn">View Bookmarked Activities</button>

<!-- Modal -->
<div id="bookmark-modal" class="modal">
    <div class="modal-content">
        <span class="close-btn">&times;</span>
        <h2>My Bookmarked Activities</h2>
        <ul id="bookmarked-list"></ul>
    </div>
</div>

<div id="activity-grid">
    {{#each activities}}
        <div class="activity-card" data-id="{{this.id}}">
            <h2>{{this.name}}</h2>
            <p>{{this.description}}</p>
            <p>Price: ${{this.price}}</p>
            <p>Distance: {{this.distance}} miles</p>
            <p>Type: {{this.type}}</p>
            <p>Location: {{this.location}}</p>

            <button class="bookmark-btn" data-id="{{this.id}}">
                {{#if ../user.bookmarkedActivities.[this.id]}}Remove Bookmark{{else}}Bookmark{{/if}}
            </button>
        </div>
    {{/each}}
</div>

<script src="/js/bookmarks.js"></script>
