<h1>Explore Activities</h1>
<div id="activity-grid">
    {{#each activities}}
        <div class="activity-card" data-id="{{this.id}}">
            <h2>{{this.title}}</h2>
            <p>{{this.description}}</p>
            <button class="bookmark-btn" data-id="{{this.id}}">
                {{#if ../user.bookmarkedActivities.[this.id]}}Remove Bookmark{{else}}Bookmark{{/if}}
            </button>
            



<